<!DOCTYPE html>
<html>
    <head>
        <title>error</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <!-- https://materializecss.com/cards.html -->
        <div style="padding:20px">
            <h1>ERROR!</h1>
        </div>
    
    </body>
</html>