<!DOCTYPE html>
<html>
    <head>
        <title>welcome</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/partials/color.css">
    </head>
    <body>
        <!-- https://materializecss.com/cards.html -->
        <div style="padding:20px; text-align: center;">
            <h1 style="color:#e700a2">Error: Not Found</h1>
            <button id="add_button" 
                                name="add_button" 
                                onclick="redirectToPage()"
                                class="btn waves-effect waves-luluble-pink luluble-pink">
                                Go Back</button>
        </div>
    
    </body>

    <script>
      function redirectToPage() {
        window.history.back();
      }
    </script>
</html>
