<!DOCTYPE html>
<html>
    <head>
        <title>index</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <!-- https://materializecss.com/cards.html -->
        <div style="padding:20px">
            <h1>tuluble</h1>
            <p>plumbing project slay</p>

            <div class = "buttons">
                <a class="waves-effect waves-light btn-large" href="/inventory">Inventory</a>
            </div>
        </div>
    
    </body>
</html>