<!DOCTYPE html>
<html>
    <head>
        <title>index</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <!-- https://materializecss.com/cards.html -->
        <div style="padding:20px">
            <h1>tuluble
                <span class="large material-icons">local_florist
                    {{!-- <a font-size="20"> --}}
                </span>

            </h1>
            {{!-- <h1 class="large material-icons">filter_vintage</h1> --}}
            {{!-- <span> tuluble </span> --}}
            <p>Welcome to the tuluble database!</p>
            <p>For our plumbing project, we have demonstrated our ability to utilize our technologies. </p>
            <p>This includes Auth0, NodeJS, MySQL, HTML, CSS, JS, and the AWS Cloud Server. </p>
            <p>Log in with Google to verify your credentials and access tuluble data.</p>

            {{!-- <div class = "waves-effect waves-pink btn-large" href="">
                <a style = "background-color: rgba(224, 102, 185, 0.65)" </a>
            </div> --}}

            <div class = "buttons">
                <a class = "waves-effect waves-light btn-large" href="/inventory">Start</a>
                <a style = "background-color: rgba(224, 102, 185, 0.65)" !important>
                {{!-- <img src="views/luluble_logo.jpg"> --}}
                {{!-- <a style = "background-color: rgba(224, 102, 185, 0.65)" </a></a> --}}
            </div>

            {{!-- <div class = "image">
                <a style="z-index: 15;" >
                <img src="views/luluble_logo.jpg">
            </div> --}}
            
        </div>
    
    </body>
</html>