<!DOCTYPE html>
    <html>

        

        <head>
            <title>index</title>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="/styles/index.css">
            <script type="text/javascript" src="/routes/index.js"></script>

        </head>
        
        <body>

        <!-- NAVIGATION SIDEBAR -->
        <div style="padding: 2% 2% 0% 2%">
            <ul class="sidenav" id="mysidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="./views/luluble_hlogo.jpg" style="height:250px;" alt="">

                        </div>
                        <span style="color:#000000" class="large material-icons">local_florist
                        </span>
                        <a href="#" data-target="side_nav"></a>
                        {{!-- <a href="#email"><span class="email white-text">web@gmail.com</span></a> --}}
                    </div>
                </li>
                <li><a href="/"><i class="material-icons">home</i>Index Page</a></li>
                <li><a href="/inventory"><i class="material-icons">book</i>Inventory</a></li>
                <li><a href="/formulas"><i class="material-icons">insert_chart</i>Formulas</a></li>
                <li><a href="/projects"><i class="material-icons">import_contacts</i>Projects</a></li>
                <li><a href="#"><i class="material-icons">create</i>Other</a></li>
            </ul>

            {{!-- <a href="#" data-target="mysidenav" class="btn sidenav-trigger">Sidenav</a> --}}

            <a href="#" data-target="mysidenav" class="btn sidenav-trigger">
                <i class="material-icons">menu</i>
                <span class="blue-text text-darken-2"></span>
            </a>

            <!-- NAVIGATION SIDEBAR (location to put icon NEXT to the sidebar lines) -->
            {{!-- <div class="col s6">
                <img src="/luluble_hlogo.jpg" class="responsive-img">
            </div> --}}
            {{!-- <span style="color:#000000" class="large material-icons">local_florist</span> --}}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var side = document.querySelectorAll('.sidenav');
                    M.Sidenav.init(side)
                })
            </script>
        </div>






            <div id="main" style="padding: 0% 2% 0% 2%">



            <!-- https://materializecss.com/cards.html -->

                <center>            
                    <h1 id="title" style="color:#50baa4">Welcome {user}
                    {{!-- <p style="color:#fa82be" > </p> --}}
                        <span style= "col
                        or:#000000" class="large material-icons">local_florist
                            {{!-- <a font-size="20"> --}}
                        </span>
                    </h1>

                    <h3><button onclick="lastAccessedProject();">Most Recent Project</button></h3>
                </center>

                <h3 style="color:#50baa4">Notifications</h3>

                <center>



                    <table class="tableFixHead">
                        <thead>
                            <tr>
                                <th>Thing 1</th>
                                <th>Thing 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>things 3</td>
                                <td>things 4</td>
                            </tr>
                            <tr>
                                <td>things 5</td>
                                <td>things 6</td>
                            </tr>
                            <tr>
                                <td>things 7</td>
                                <td>things 8</td>
                            </tr>
                            <tr>
                                <td>things 9</td>
                                <td>things 10</td>
                            </tr>
                            <tr>
                                <td>things 11</td>
                                <td>things 12</td>
                            </tr>
                        </tbody>
                    </table>
                </center>

                <a href="/logout">Log Out</a>
                <!-- should this appear in sidebar or top right corner -->

                {{!-- <h1 class="large material-icons">filter_vintage</h1> --}}
                {{!-- <span> tuluble </span> --}}
                <p>Welcome to the tuluble database!</p>
                <p>For our plumbing project, we have demonstrated our ability to utilize our technologies. </p>
                <p>This includes Auth0, NodeJS, MySQL, HTML, CSS, JS, and the AWS Cloud Server. </p>
                <p>By logging in, you have verified your credentials and may access tuluble data.</p>

                <div class = ".pink_button">
                    <a style="background-color: rgba(121, 85, 72, 0.65);"></a>
                </div>

                <div class = "buttons">
                    <a class = "waves-effect waves-light btn-large" href="/inventory">Start </a>
                    {{!-- <i class="material-icons">add</i> --}}
                    <a style = ".pink_button"></a>
                    {{!-- <img src="views/luluble_logo.jpg"> --}}
                    {{!-- <a style = "background-color: rgba(224, 102, 185, 0.65)" </a></a> --}}
                </div>


                {{!-- <div class = "image">
                    <a style="z-index: 15;" >
                    <img src="views/luluble_logo.jpg">
                </div> --}}
                    

            </div>
        
        </body>

    </html>
