<!DOCTYPE html>
<html>

<head>
    <title>page</title>
    <title>materialbox</title>
    <title>navbar</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <div style="padding: 2% 2% 0% 2%">
        <!-- NAVIGATION SIDEBAR -->
                <ul class="sidenav" id="mysidenav" >
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="./views/luluble_hlogo.jpg" style="height:250px;" alt="">

                            </div>
                            <span style="color:#000000" class="large material-icons">local_florist
                            </span>
                            <span style="color:#25b5af"><b><font size="+2">&nbsp;tuluble database</font></b></span>
                            <a href="#" data-target="side_nav"></a>
                            {{!-- <a href="#email"><span class="email white-text">web@gmail.com</span></a> --}}
                        </div>
                    </li>
                    <li><a href="/"><i class="material-icons">home</i>Index Page</a></li>
                    <li><a href="/inventory"><i class="material-icons">book</i>Inventory</a></li>
                    <li><a href="/formulas"><i class="material-icons">insert_chart</i>Formulas</a></li>
                    <li><a href="/projects"><i class="material-icons">import_contacts</i>Projects</a></li>
                    {{!-- <li><a href="#"><i class="material-icons">create</i>Other</a></li> --}}
                </ul>

                {{!-- <a href="#" data-target="mysidenav" class="btn sidenav-trigger">Sidenav</a> --}}

                <a href="#" data-target="mysidenav" class="btn sidenav-trigger">
                    <i class="material-icons">menu</i>
                    <span class="blue-text text-darken-2"></span>
                </a>

                <!-- NAVIGATION SIDEBAR (location to put icon NEXT to the sidebar lines) -->
                {{!-- <div class="col s6">
                    <img src="/luluble_hlogo.jpg" class="responsive-img">
                </div> --}}
                {{!-- <span style="color:#000000" class="large material-icons">local_florist</span> --}}

                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var side = document.querySelectorAll('.sidenav');
                        M.Sidenav.init(side)
                    })
                </script>

        <!-- BLANK TEAL DIVIDER -->
        {{!-- <div class="row">
            <div class="col s12"><span class="flow-text"></span>
                <div class="card-panel teal lighten-2"></div>
            </div>
        </div> --}}

        <!-- ROW OF BUTTONS AND SEARCH BAR -->
        <div class="row">
            <div class="col s12">
                <p></p>
                <h1>Inventory </h1>
            </div>
            <div class="col s12 m4 l2">
                <p></p>
                <div class="delete_button">
                    <a href="#" class="btn waves-effect waves-light">Add</a>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <p></p>
                <div class="delete_button">
                    <a href="#" class="btn waves-effect waves-light">Delete</a>
                </div>
            </div>
            <div class="col s12 m4 l6">
                <p></p>
                <nav>
                    <div class="nav-wrapper grey">
                        <div class="input-field">
                            <input type="search" name="" id="">
                            <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- INVENTORY TABLE -->
        <div style="padding:20px">
            <table>
                <thead>
                    <tr>
                        <th>ID
                            <span class="large material-icons">import_export</span>
                        </th>
                        <th>Name
                            <span class="large material-icons">import_export</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {{#each results}}
                    <tr>
                        <td>{{this.formula_id}}
                            <a href="#terms" class="modal-trigger">
                                <span class="large material-icons">info_outline</span>
                            </a>
                            <div class="modal" id="terms">
                                <div class="row">
                                    <div class="col s12">&nbsp;</div>
                                    <div class="col s12"><b>Ingredient Information</b></div>
                                    <div class="col s12">&nbsp;</div>
                                    <div class="col s6">
                                        <span>Ingredient:<br></br>Supplier:<br></br>Trade Name:<br></br>INCI Name:</span>
                                    </div>
                                    <div class="col s6">
                                        <span>Lot #:<br></br>Shelf #:<br></br>Amount Received:<br></br>Amount Available:</span>
                                    </div>
                                        <div class="col s12">&nbsp;</div>
                                        <div class="col s12 m6 l3"><p></p></div>
                                        <div class="col s12 m6 l3"><p></p></div>
                                        <div class="col s12 m6 l3"><p></p>
                                            <div class="delete_button">
                                                <a href="" class="btn-small">Edit</a>
                                            </div>
                                        </div>
                                        <div class="col s12 m6 l3"><p></p>
                                            <div class="delete_button">
                                                <a href="" class="btn-small">Delete</a>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $('.modal').modal();
                                })
                            </script>
                        </td>

                        <td>{{this.test_name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>
    </body>
    
    <!-- FOOTER -->
    <footer class="page-footer grey darken-1">
            <div class="container">
                <div class="row">
                    <div class="col s12 l6">
                        <h5>About luluble</h5>
                        <p>Boutique laboratory focused on innovative thinking in product development.
                            Offer full-service development from “concept to counter”</p>
                    </div>
                    <div class="col s12 l4 offset-l2">
                        <h5>Connect</h5>
                        <ul>
                            <li>
                                {{!-- <span class="large material-icons">open_in_browser</span> --}}
                                <a href="https://www.luluble.com/" class="grey-text text-lighten-3">Website</a>
                            </li>
                            <li>
                                {{!-- <span class="large material-icons">open_in_browser</span> --}}
                                <a href="https://www.instagram.com/luluble_inc/?igshid=zkxn18fwn7fy"
                                    class="grey-text text-lighten-3">Instagram</a>
                            </li>
                            <li>
                                {{!-- <span class="large material-icons">open_in_browser</span> --}}
                                <a href="https://www.pinterest.com/luluble_inc/"
                                    class="grey-text text-lighten-3">Pinterest</a>
                            </li>
                            <li>
                                {{!-- <span class="large material-icons">open_in_browser</span> --}}
                                <a href="https://www.linkedin.com/company/luluble/about/"
                                    class="grey-text text-lighten-3">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey darken-4">
                <div class="container center-align">&copy; 2022 tuluble</div>
            </div>
        </footer>


</html>