<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script type="text/javascript" src="/routes/projects.js"></script>
        
    </head>
    <body>
        <div style="padding: 2% 2% 0% 2%">
            <!-- https://materializecss.com/cards.html -->
            {{#with project_data}}  
            <div>
                <h1>{{project_name}}</h1>
                <p>All of the project details go here</p>
                <p>More information goes here</p>
                <p>Woah there's a lot of information</p>
                <p>There's still more???</p>
                <p>Okay I think we're finally done</p>
            </div>

            <div class="back_button">
                <a href="/projects" class="btn waves-effect waves-light">Go Back</a>
            </div>
            {{/with}}
        </div>
    </body>
</html>