<!DOCTYPE html>
<html>
    <head>
        <title>welcome</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <!-- https://materializecss.com/cards.html -->
        <div style="padding:20px">
            <h1 style="color:#50baa4">tuluble
                {{!-- <p style="color:#fa82be" > </p> --}}
                <span style= "col
                or:#000000" class="large material-icons">local_florist
                    {{!-- <a font-size="20"> --}}
                </span>

            </h1>

            {{!-- <h1 class="large material-icons">filter_vintage</h1> --}}
            {{!-- <span> tuluble </span> --}}
            <p>Welcome to the tuluble database!</p>
            <p>Please log in to access the data: </p>

            <div class = ".pink_button">
                <a style="background-color: rgba(121, 85, 72, 0.65);"></a>
            </div>

            <div class = "buttons">
                <a class = "waves-effect waves-light btn-large" href="/index">Log in</a>
                {{!-- <i class="material-icons">add</i> --}}
                <a style = ".pink_button"></a>
                {{!-- <img src="views/luluble_logo.jpg"> --}}
                {{!-- <a style = "background-color: rgba(224, 102, 185, 0.65)" </a></a> --}}
            </div>


            {{!-- <div class = "image">
                <a style="z-index: 15;" >
                <img src="views/luluble_logo.jpg">
            </div> --}}
            
        </div>
    
    </body>
</html>
