<head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="/styles/index.css">
            <script type="text/javascript" src="/routes/index.js"></script>

        </head>
<div class="logoutButton">
                <a class = "waves-effect waves-light btn-small" class="logout" href="/logout">Log Out </a>
                <a style = ".pink_button"></a>
                {{!-- <a class="logout" href="/logout">Log Out</a> --}}
</div>